

.clock-body{
    height: 250px;
    width: 390px;
    background-color: black;
    border-radius: 10px;
    padding-top:  10px;
    box-shadow: 2px 10px 15px blue;
    align-items: center; 
    display: flex;
    justify-content: center; 
    }
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 710px;
    width: 1465px;
    background-color: rgb(228, 228, 152);
    
} 

